{{ partial "header.html" . }}
<div class="about">
	<img class="cover-art" src="https://files.jasonrigden.com/share/img/cover_art/podcasting_questions/cover_art_1000x1000_shrunk.jpg">
	<h1 class="center-text">The Podcasting Questions Podcast</h1>
	<p>
			A daily podcast about podcasting that answers your questions in under 5 minutes per episode. No long intro, no music, and no paid ads. Just a bunch of answers to your podcasting questions.
	</p>


	{{ partial "podcastingquestions/subscribe.html" . }}


{{ partial "footer.html" . }}