{{ partial "header.html" . }}
<div class="about">
	<img class="cover-art" src="https://files.jasonrigden.com/share/img/cover_art/podcasting_questions/cover_art_1000x1000_shrunk.jpg">
	<h1 class="center-text">The Podcasting Questions Podcast</h1>
	<p>
			A daily podcast about podcasting that answers your questions in under 5 minutes per episode. No long intro, no music, and no paid ads. Just a bunch of answers to your podcasting questions.
	</p>

	{{ partial "podcastingquestions/subscribe.html" . }}
	<div class="podcast-about-links">
		<p>

			<a href="https://twitter.com/PodQuestions">
				<i class="fab fa-twitter"></i>
			</a>

			<a href="https://www.youtube.com/channel/UCQJVnco7hoD2HGMW3hVwukA">
				<i class="fab fa-youtube"></i>
			</a>
			<a href="mailto:ask@podcastingquestions.com">
				<i class="fas fa-envelope"></i>
			</a>
		</p>
	</div>
	


<div class="crow-form">
<h2>Ask Your Question</h2>
<p>If you have a podcasting question, please send it to me. I'm always looking for new podcasting questions for the show. 

	If I choose your question, I'll give you and your show a shout out on the episode and link to your podcast in the show notes.
	
	Use the form below or just email ask@podcastingquestions.com</p>
<form action="https://formspree.io/ask@podcastingquestions.com" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="podcast" placeholder="Podcast">
  <input type="email" name="_replyto" placeholder="Email">
  <textarea name="message" placeholder="Question"></textarea>

  <input class="form-submit-button" type="submit" value="Send">
</form>
</div>


{{ partial "footer.html" . }}
