<h3 class="subscribe-header">Subscribe to the podcast</h3>
<div class="subscribe">
    <div class="wrapper">

        <div class="left">
            <a href="">
                <img src="https://files.jasonrigden.com/share/img/buttons/apple_podcast.svg">
            </a>
        </div>
        <div class="right">
            <a href="">
                <img src="https://files.jasonrigden.com/share/img/buttons/google_podcast.svg">
            </a>
        </div>
    </div>
    <p>
        You can also subscribe on <a href="">Spotify</a>, <a href="https://www.youtube.com/channel/UCQJVnco7hoD2HGMW3hVwukA">YouTube</a>, or <a href="https://podcastingquestions.libsyn.com/rss">RSS</a>. Or just search for <strong>"Podcasting Questions Podcast"</strong> on your favorite
        podcast app.
    </p>
</div>

