{{ partial "header.html" . }}
<div class="about">
	<img class="cover-art" src="https://files.jasonrigden.com/share/img/talkingcryptocurrency/talking_cryptocurrency.jpg">
	<h1 class="center-text">The Podcasting Questions Podcast</h1>
	<p>
		Jason Rigden hosts a series of interviews with the people making the cryptocurrency and blockchain revolution happen.
	</p>


	{{ partial "podcastingquestions/subscribe.html" . }}
	<div class="podcast-about-links">
		<p>

			<a href="https://twitter.com/talkcryptoshow">
				<i class="fab fa-twitter"></i>
			</a>

			<a href="https://www.youtube.com/channel/UCDWVKh9yZk25Y_CTut4nsOA">
				<i class="fab fa-youtube"></i>
			</a>

		</p>
	</div>


{{ partial "footer.html" . }}