<meta name="description" content="{{ $.Site.Params.description }}">
<meta property="og:title" content="Jason Rigden">
<meta property="og:type" content="article">
<meta property="og:url" content="https://jasonrigden.com">


<meta property="og:image" content="https://files.jasonrigden.com/img/me/jasonrigden_facebook2.jpg">
<meta property="og:image:height" content="2400">
<meta property="og:image:width" content="1260">
<meta property="og:site_name" content="Jason Rigden">
<meta property="og:description" content="{{ $.Site.Params.description }}">
<meta property="og:locale" content="en_US">




<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@mr_rigden">
<meta name="twitter:url" content="https://jasonrigden.com/">
<meta name="twitter:title" content="Jason Rigden">
<meta name="twitter:description" content="{{ $.Site.Params.description }}">
<meta name="twitter:image" content="https://files.jasonrigden.com/img/me/jasonrigden_twittercard.jpg">

