<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id":"{{ .Site.BaseURL }}"
      },
      "headline": "{{ .Title }}",
      "description": "{{ .Description }}",

      "image": {
        "@type": "ImageObject",
        {{if .Params.featuredImage }}
            "url": "{{ .Params.featuredImage }}",
            "height": 2000,
            "width": 2000
        {{ else }}
          "url": "{{ $.Site.Params.default_jsonld_image }}",
          "height": 2000,
          "width": 2000
        {{ end }}
      },
      "datePublished": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
      "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05JST" }}",
      "author": {
        "@type": "Person",
        "name": "Jason Rigden"
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ .Site.Title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "https://jasonrigden.com/logo.png"
        }
      }
    }
  </script>
