{{ if .IsHome }}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{{ end }}
<link rel="stylesheet" href="https://use.typekit.net/pdu2jbr.css">
<!-- <link rel="stylesheet" href="https://files.jasonrigden.com/project/crow/min.style.css"> -->
<link rel="stylesheet" href="/css/style.css"> 
{{ if .Params.code }}
<link rel="stylesheet" href="https://files.jasonrigden.com/lib/prismjs-1.15.0/prism.css">
<script src="https://files.jasonrigden.com/lib/prismjs-1.15.0/prism.js"></script>
{{ end }}