{{ if eq .Site.Params.siteCode "jasonrigden" }}
{{ partial "jasonrigden/index.html" . }}

{{ else if eq .Site.Params.siteCode "podcastingquestions" }}
{{ partial "podcastingquestions/index.html" . }}

{{ else if eq .Site.Params.siteCode "talkingcryptocurrency" }}
{{ partial "talkingcryptocurrency/index.html" . }}

{{ else if eq .Site.Params.siteCode "talktoseattle" }}
{{ partial "talktoseattle/index.html" . }}

{{ else if eq .Site.Params.siteCode "seattlepodcasters" }}
{{ partial "seattlepodcasters/index.html" . }}

{{ else }}
siteCode Not Found

{{end}}