{{ partial "header.html" . }}
<div class="about">
	<img class="cover-art" src="https://files.jasonrigden.com/share/img/talktoseattle/cover_art1000x1000.jpg">
	<h1 class="center-text">Talk To Seattle</h1>
	<p>
	</p>


	{{ partial "talktoseattle/subscribe.html" . }}
	<div class="podcast-about-links">
		<p>

			<a href="https://twitter.com/talktoseattle">
				<i class="fab fa-twitter"></i>
			</a>

			<a href="https://www.instagram.com/talktoseattle">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://www.facebook.com/talktoseattle">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="mailto:contact@talktoseattle.com">
				<i class="fas fa-envelope"></i>
			</a>

		</p>
	</div>


{{ partial "footer.html" . }}