{{ partial "header.html" . }}
<div class="about">
	<img class="cover-art" src="https://files.jasonrigden.com/talktoseattle/cover1.png">
  	<div class="about-text">
    		<h1>Talk To Seattle</h1>
    		<p>
        		A Seattle interview podcast focused on civics, politics, and the arts. Helping people connect with their community.
    		</p>
  	</div>

	{{ partial "talktoseattle/subscribe.html" . }}
	<div class="podcast-about-links">
		<p>

			<a href="https://twitter.com/talktoseattle">
				<i class="fab fa-twitter"></i>
			</a>

			<a href="https://www.instagram.com/talktoseattle">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://www.facebook.com/talktoseattle">
				<i class="fab fa-facebook"></i>
			</a>
			<a href="mailto:contact@talktoseattle.com">
				<i class="fas fa-envelope"></i>
			</a>

		</p>
	</div>


{{ partial "footer.html" . }}
