<h3 class="subscribe-header">Subscribe to the podcast</h3>
<div class="subscribe">
    <div class="wrapper">

        <div class="left">
            <a href="https://itunes.apple.com/us/podcast/talk-to-the-left/id1438908915?mt=2">
                <img src="https://files.jasonrigden.com/share/img/buttons/apple_podcast.svg">
            </a>
        </div>
        <div class="right">
            <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly90YWxrdG90aGVsZWZ0LmxpYnN5bi5jb20vcnNz">
                <img src="https://files.jasonrigden.com/share/img/buttons/google_podcast.svg">
            </a>
        </div>
    </div>
    <p>
        You can also subscribe on <a href="https://open.spotify.com/show/1E2X7V425guEEMCfLIIcTn">Spotify</a>, <a href="https://www.youtube.com/channel/UCUOYi02T1jW9rqf6tSJwLsw">YouTube</a>, or <a href="https://talktotheleft.libsyn.com/rss">RSS</a>. Or just search for <strong>"Talk To Seattle"</strong> on your favorite
        podcast app?
    </p>
</div>

