{{ partial "header.html" . }}
<div class="about">
	<h1>Seattle Podcasters Guild</h1>
	<p>
		We are a group of Seattle area podcasters. The group has a dual mission. First, we want to support and learn from each other as podcasters. Second, we want to help further popularize podcast listening in the area.
	</p>



	<h2>Meetings</h2>
	<p>
		Our next meetup will be at <a href="https://optimismbrewing.com/">Optimism Brewing Company</a> on Tuesday February 20 at 6PM. We will be on the east side of the building. Look for a red ballon. This time for real! 

	</p>
	<p>
		Keep up with future meeting by revisiting this site or joining our <strong><a href="https://www.meetup.com/Seattle-Podcasters-Guild">Meetup Group</a></strong>. 
	</p>
	<p>
		Everyone is welcome! Doesn't matter if you are a podcasting veteran or someone that is just thinking of starting a show. You just need to want to talk about podcasting. Come on down and join us! 
	</p>

	<h2>Social Media Links</h2>
	<p class="about-links">

		<a href="https://twitter.com/seapodcasters">
			<i class="fab fa-twitter"></i>
		</a>
		<a href="mailto:contact@seattlepodcasters.com">
			<i class="fas fa-envelope"></i>
		</a>
	</p>


	<h2>List of Seattle Podcasts</h2>
	<p>
		This is a list of the podcasts being produced in the Seattle metropolitan area.
		<br><a href="https://seattlepodcasters.com/list">The Complete List of Seattle Podcasts</a>
	</p>

	<h3>Other Seattle Area Podcast Groups</h3>
	<p>

		<ul>

			<li>
				<a href="https://www.facebook.com/groups/WAStatePod">Washington State Podcasting Group</a>
			</li>

			<li>
				<a href="https://www.facebook.com/groups/spn.announcements/">Seattle Podcasting Network (SPN)</a>	
			</li>
			
			<li>
				<a href="https://www.meetup.com/seattle-podcasters/">Seattle Podcasters Meetup</a>
			</li>
		</ul>
		<a href="mailto:jason@seattlepodcasters.com">Add Your Group</a>
	</p>
	
</div>
{{ partial "footer.html" . }}
